streamlit
langchain
google-generativeai
faiss-cpu
duckduckgo-search
pdfplumber
python-docx
pandas
python-dotenv
numpy
langchain_core
pytesseract
pdf2image
langchain_community
langchain_google_genai
langchain-text-splitters
langchain-experimental
langextract
openpyxl
sentence-transformers
langchain-huggingface
ddgs


